<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#188BF7">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" href="{{ '/assets/css/index.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
  <section class="page-header">
      <h1 class="project-name">{{ page.projectname }}</h1>
      <a href="https://itunes.apple.com/cn/app/wechat/id1333548463?mt=8" class="btn">Mac AppStore</a>
    </section>
  <section class="">
    <section class="main-content">
      {{ content }}
    </section>

  </body>
</html>
