<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#188BF7">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision }}">
    <link rel="stylesheet" href="{{ '/assets/css/other.css?v=' | append: site.github.build_revision }}">
  </head>
  <body>
  <section class="other-page-header">
    
  </section>
  <section class="">
    <section class="main-content">
      {{ content }}
    </section>

  </body>
</html>
